@import "~office-ui-fabric-react/dist/sass/Fabric";

// Page
body{
    @include ms-bgColor-neutralLight;
}

// App
.app {
    font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
    margin: 0px;
    padding: 0px 5px;

    // Header
    @import "./header";
    
    // Ribbon
    @import "./ribbon";

    // Pages
    @import "./home";
}