.header {
    @include ms-bgColor-blue;
    @include ms-fontColor-white;
    @include ms-fontSize-su;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    // Suite Bar Left
    .header-left {
        @include ms-fontSize-xxl;
        padding-left: 5px;
        
        // Icon
        .ms-Icon {
            @include ms-fontColor-white;
            padding-right: 10px;
        }
    }

    // Suite Bar Right
    .header-right {
        @include ms-fontSize-xl;
        padding-right: 5px;
    }
}