.home {
    display: flex;
    flex-wrap: nowrap;

    // Header
    .header {
        @include ms-fontSize-xl;
        margin-top: 10px;

        // Links
        a:visited {
            @include ms-fontColor-white;
        }
    }

    // Navigation
    .nav {
        padding-right: 15px;

        // Nav Item
        .ms-Nav-compositeLink {
            @include ms-bgColor-neutralLighter;
        }
        
        // Selected Item
        .is-selected {
            @include ms-bgColor-themeDarker;
            
            .ms-Button-label {
                @include ms-fontColor-white;
            }
        }
    }

    // Projects
    .projects {
        .header {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .header:first-child {
            margin-top: 0px;
        }
    }

    // Demo Image
    .demo-img {
        max-width: 100%;
        padding-top: 15px;
    }

    // Getting Started
    .getting-started {
        // Step
        .step {
            @include ms-fontSize-l;
            padding-bottom: 5px;
        }
    }
}