---
---

@import "{{ site.theme }}";
// Header
#header_wrap {
}
// Main
#main_content_wrap {
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
    width: 100%;

    // Left Content
    #left_content {
        width: 10%;
    }
    // Main Content
    #main_content {
        max-width: 80%;
        width: 80%;

        // Befefits
        #benefits {
            width: 50%;
        }

        // Demo
        #demo {
            display: none;
            width: 50%;
        }

        // Content
        #content {
            width: 100%;
        }
    }
}
// Footer
#footer_wrap {
}