---
---

@import "{{ site.theme }}";
// Header
#header_wrap {

}
// Main
#main_wrap {
    display: flex;
    flex-direction: row;

    // Left Content
    #left_content {
        width: 10%;
    }
    // Main Content
    #main_content {
        max-width: 80%;
        width: 80%;

        // Content
        div {
            display: flex;
            flex-direction: row;

            // Befefits
            #benefits {
                width: 50%;
            }

            // Demo
            #demo {
                width: 50%;
            }

            // Content
            #content {
                width: 100%;
            }
        }
    }
    // Right Content
    #right_content {
        width: 10%;

        // Links
        a {
            display: flex;
            flex-direction: column;
        }
    }
}
// Footer
#footer_wrap {

}